  body {
      font-family: 'Share Tech Mono', monospace;
  }

  .section {
      position: relative;
      background-size: cover;
      background-position: center;
      transition: background-image 1s ease-in-out;
  }

  .overlay {
      position: absolute;
      inset: 0;
      background-color: rgba(0, 0, 0, 0.65);
      z-index: 0;
  }

  .logo-spin {
      animation: spin 20s linear infinite;
  }

  @keyframes spin {
      from {
          transform: rotate(0deg);
      }

      to {
          transform: rotate(360deg);
      }
  }

  .neon-shadow {
      filter: drop-shadow(0 0 15px rgb(61, 6, 61));
  }

  .z-top {
      z-index: 10;
  }

  #fp-nav ul li .fp-tooltip,
  .fp-watermark {
      display: none !important;
  }

  .br-ext {
      filter: blur(6px);
  }